# PostgreSQL
POSTGRES_USER=your_db_user
POSTGRES_PASSWORD=your_db_password
POSTGRES_DB=your_db_name

# Firebase
project_id=your_gcp_project_id
firebase_sdk_admin_secret_id=your_firebase_secret_id
firebase_sdk_admin_version_id=1

# Cloud SQL (dev uniquement si tu veux simuler)
postgres_access_secret_id=your_postgres_secret_id
postgres_access_version_id=1